.TraceQueryForm {
  padding: 10px;
}

.TraceQueryForm .filter {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.TraceQueryForm .filter-select {
  flex-grow: 1;
}

.TraceQueryForm .filter-select__control {
  height: 2em;
  overflow: auto;
}

.TraceQueryForm .label {
  padding-right: 5px;
  width: 20ex;
  max-width: 20ex;
}
