.TrevTable table {
  width: 100%;
}

.TrevTable td, .TrevTable th {
  text-align: left;
  padding-left: 10px;
  border: 1px solid transparent;
  vertical-align: top;
}

.TrevTable .primitive {
  color: slateblue;
}

.TrevTable .highlighted-node {
  background-color: orange;
}

.TrevTable .highlighted-trev {
  background-color: yellow;
}

.TrevTable .highlighted-trev-descendant .parent-id {
  background-color: yellow;
}

.TrevTable tbody .node {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrevTable tbody .node:hover {
  border: 1px solid orange;
}

.TrevTable tbody .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrevTable .id, .parent-id, .type {
  width: 4ex;
  white-space: nowrap;
}

.TrevTable .node {
  width: 25ex;
  max-width: 25ex;
}

.TrevTable .data, .TrevTable .value {
  width: 25ex;
  max-width: 25ex;
}

.TrevTable .function {
  color: green;
  font-size: 80%;
}

.TrevTable tr .console-log {
  float: right;
  display: none;
  margin: 0;
  font-size: 80%;
  padding: 0 5px;
}

.TrevTable tr:hover .console-log {
  display: inline;
}
