.TrevTable table {
  width: 100%;
}

.TrevTable td, .TrevTable th {
  text-align: left;
  padding-left: 10px;
  border: 1px solid transparent;
  vertical-align: top;
}

.TrevTable .highlighted-node {
  background-color: orange;
}

.TrevTable .highlighted-trev {
  background-color: yellow;
}

.TrevTable .highlighted-trev-descendant .parent-id {
  background-color: yellow;
}

.TrevTable tbody .node {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrevTable tbody .node:hover {
  border: 1px solid orange;
}

.TrevTable tbody .data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrevTable .id, .parent-id, .type {
  width: 4ex;
  white-space: nowrap;
}

.TrevTable .node {
  width: 25ex;
  max-width: 25ex;
}

.TrevTable .data {
  width: 25ex;
  max-width: 25ex;
}

.TrevTable .preview-null, .preview-builtin {
  color: black;
}

.TrevTable .preview-number, .preview-bigint {
  color: rgb(38, 139, 210);
}

.TrevTable .preview-bigint::after {
  content: 'n';
}

.TrevTable .preview-boolean {
  color: rgb(42, 161, 152);
}

.TrevTable .preview-function {
  color: slateblue;
  font-style: italic;
}

.TrevTable .preview-string {
  color: rgb(203, 75, 22);
}

.TrevTable .preview-symbol {
  color: rgb(194, 60, 134);
  font-style: italic;
}

.TrevTable .preview-array-element .preview-number,
.TrevTable .preview-array-element .preview-null,
.TrevTable .preview-array-element .preview-bigint,
.TrevTable .preview-array-element .preview-builtin,
.TrevTable .preview-array-element .preview-boolean,
.TrevTable .preview-array-element .preview-function,
.TrevTable .preview-array-element .preview-string,
.TrevTable .preview-array-element .preview-symbol {
  display: inline-block;
  width: 5ex;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TrevTable .preview-array,
.TrevTable .preview-array-element,
.TrevTable .preview-array-start,
.TrevTable .preview-array-end,
.TrevTable .preview-array-comma {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TrevTable .preview-array-comma {
  padding-left: .3ex;
  padding-right: .3ex;
}
