.TrevTable table {
  width: 100%;
}

.TrevTable td, .TrevTable th {
  text-align: left;
  padding-left: 10px;
  border: 1px solid transparent;
  vertical-align: top;
}

.TrevTable .highlighted-node {
  background-color: orange;
}

.TrevTable .highlighted-trev {
  background-color: yellow;
}

.TrevTable .highlighted-trev-descendant .parent-id {
  background-color: yellow;
}

.TrevTable tbody .node {
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TrevTable tbody .node:hover {
  border: 1px solid orange;
}

.TrevTable tbody .data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.TrevTable tbody .data:hover {
  border: 1px solid black;
}

.TrevTable tbody .type {
  cursor: default;
}

.TrevTable tbody .type:hover {
  border: 1px solid black;
}

.TrevTable .id, .parent-id, .type {
  width: 4ex;
  white-space: nowrap;
}

.TrevTable .node {
  width: 25ex;
  max-width: 25ex;
}

.TrevTable .data {
  width: 25ex;
  max-width: 25ex;
}

.TrevTable .preview-null, .preview-builtin {
  color: black;
}

.TrevTable .preview-number, .preview-bigint {
  color: rgb(38, 139, 210);
}

.TrevTable .preview-bigint::after {
  content: 'n';
}

.TrevTable .preview-boolean {
  color: rgb(42, 161, 152);
}

.TrevTable .preview-function {
  color: slateblue;
  font-style: italic;
}

.TrevTable .preview-string {
  color: rgb(203, 75, 22);
}

.TrevTable .preview-symbol {
  color: rgb(194, 60, 134);
  font-style: italic;
}

.TrevTable .preview-array-start,
.TrevTable .preview-object-start,
.TrevTable .preview-object-colon {
  padding-right: .3ex;
}

.TrevTable .preview-array-end,
.TrevTable .preview-object-end {
  padding-left: .3ex;
}

.TrevTable .preview-array-comma,
.TrevTable .preview-object-comma {
  padding-left: .3ex;
  padding-right: .3ex;
}

.TrevTable .preview-object-key {
  color: gray;
}

.TrevTable .preview-array-fixed-element {
  width: 4ex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
}
