.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 15% 15% calc(50% - 2em) 2em;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "source-form trace-query-form"
    "code-tabs trev-tabs"
    "code-tabs trev-tabs"
    "ast-tabs trev-tabs"
    "blurb blurb"
}

.source-form {
  grid-area: source-form;
  display: grid;
  grid-template-rows: 3em 1fr 1.5em;
  grid-template-columns: 1fr 100px;
}

.source-form p {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: small;
}

.source-form .instructions {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.source-form textarea {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: scroll;
  resize: none;
}

.source-form .error {
  grid-row: 3;
  grid-column: 1;
  color: red;
}

.source-form .run {
  grid-row: 3;
  grid-column: 2;
}

.code-tabs {
  grid-area: code-tabs;
}

.react-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-tabs__tab-panel {
  overflow: scroll;
}

.react-tabs__tab {
  font-size: small;
}

.AnnotatedCode {
  font-size: small;
}

.ast-tabs {
  grid-area: ast-tabs;
}

.TraceQueryForm {
  grid-area: trace-query-form;
  font-size: small;
}

.trev-tabs {
  grid-area: trev-tabs;
}

.TrevTable {
  font-size: small;
}

.blurb {
  grid-area: blurb;
  height: 1em;
  text-align: right;
  padding: 0.5em;
  margin: 0;
  background-color: lightgray;
}
