.App {
  height: 100vh;
  display: grid;
  grid-template-rows: calc(39vh - 1em) calc(59vh - 1em) 2em;
}

.AnnotatedSource {
  grid-row: 1;
  
  overflow: scroll;
}

.ASTNav {
  grid-row: 2;
  height: 100%;
  overflow: scroll;
}

.ASTNav .loc {
  display: none;
}

.blurb {
  grid-row: 3;
  height: 1em;
  text-align: right;
  padding: 0.5em;
  margin: 0;
  background-color: lightgray;
}
