.EventTable td, .EventTable th {
  text-align: left;
  padding-left: 10px;
  border: 1px solid transparent;
}

.EventTable tbody tr:nth-child(odd):not(.highlighted-node, .highlighted-event) {
  background-color: rgb(238, 238, 238);
}

.EventTable .primitive {
  color: slateblue;
}

.EventTable .highlighted-node {
  background-color: orange;
}

.EventTable .highlighted-event {
  background-color: yellow;
}

.EventTable .node {
  cursor: default;
}

.EventTable .node:hover {
  border: 1px solid orange;
}
